DJANGO_SECRET_KEY=21e12qdqwdwqTY%$&^&
DJANGO_DEBUG=True
ALLOWED_HOSTS=127.0.0.1
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

EMAIL_HOST_USER=smy
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=true
FRONTEND_URL=hththt
CLIENT_ID=1
CLIENT_SECRET=3243
